{% extends "base.html" %} 

{% block title %}Home{% endblock %}

{% block content %}

<!-- <<h2 class="title">All Listings</h2> -->
<section class="spacer"></section>

<div class="form-group">
<form method="GET" action="{{ url_for('views.home') }}">
  <select id="sort_by" name="sort_by" onchange="this.form.submit()" class="custom-select">
    <option value="">Sort by</option>
    <option value="distance" {% if request.args.get('sort_by') == 'distance' %}selected{% endif %}>Distance</option>
  </select>
</form>
</div>


<!-- <section class="widget_sect">
      {% for listing in listings%}
      <a href="/listing/{{ listing.id }}">
      <section class="widget" id="widget_1" align="center">
      </button>
        <img src="{{ url_for('static', filename='images/' + listing.image_path) }}" class="widgetImage"/>
      <h4>{{ listing.title }}</h4>
      <p>{{ listing.city|capitalize ~ ", " ~ "£" ~ listing.price|int ~ " per day"}}</p>
      </section>
    </a>
      {% endfor %}
</section> -->


<section class="widget_sect">
  {% for listing in listings %}
  <a href="/listing/{{ listing.id }}" class="widget-link">
    <div class="widget">
      <div class="widget-content">
        <img src="{{ url_for('static', filename='images/' + listing.image_path) }}" class="widgetImage" />
        <h4 class="widget-title">{{ listing.title }}</h4>
        <p class="widget-city">{{ listing.city|capitalize }}</p>
        <p class="widget-price">{{ "£" ~ listing.price|int ~ " per day"}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</section>

<section class="spacer"></section>


<style>
  .widget_sect {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .widget {
    height: 350px;
    width: 300px;
    background-color: var(--navbar-color);
    border: 2px solid var(--text-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
  }

  .widget-header {
    align-self: flex-end;
  }

  .widget-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }

  .widgetImage {
    margin-top: 15px;
    height: 70%;
    border: 3px solid var(--text-color);
    border-radius: 20px;
    max-height: 170px;
  }

  .widget-title,
  .widget-city,
  .widget-price {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
  }

  .plusImageWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
  }

  .plusImage {
    width: 50%;
    height: 50%;
  }


  .custom-select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1rem;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5rem;
  padding-right: 2rem;
  width: 110px;
}


</style>

{% endblock %}